@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lockers-btn{
  border-radius: 10px;
  padding: 10px 20px;
}
.lockers-box{
  background: linear-gradient(30deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
}

.btn-effect{
  transition: all ease-in-out .4s;
}
.btn-effect:hover{
  transform: scale(1.25);
}
.arrow-flip{
  transform: rotateX(180deg) translateY(2px);
  transition: all ease-in-out .5s;
}
.arrow-flipper{
  transform: rotateX(0deg) translateY(2px);
  transition: all ease-in-out .5s;
}
.hdr-link:hover{
  cursor: pointer;
}
.hdr-link:hover .arrow-flip{
  transform: rotateX(0deg);
}

.hdr-link:hover .hdr-submenu{
  transform: translateY(16px) translateX(-70px);
}
.hdr-link:hover .hdr-submenu-long{
  transform: translateY(16px) translateX(-70px);
}

.hdr-submenu{
  transform: translateY(-200px) translateX(-70px);
  transition: all ease-in-out 1s;
  background: linear-gradient(30deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
}
.hdr-submenu-long{
  transform: translateY(-500px) translateX(-70px);
  background: linear-gradient(30deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
  transition: all ease-in-out 1.5s;
}

.hdr-submenu-link{
  transition: all ease-in-out .3s;
  z-index: 10;
}

.video-embed{
  overflow: hidden;
  width: 100vw;
  height: 800px;
  transform: translateY(-300px);
}

@media (min-width: 1024px) {
  .video-embed{
    overflow: hidden;
    width: 100vw;
    height: 1100px;
    transform: translateY(-250px);
  }
}
.sombrita{
  filter: drop-shadow(
    0 0 4px rgba(252, 49, 94, 1)
  )
}
.sombrita-dos{
  filter: drop-shadow(
    0 0 6px #8b8b8b
  )
}
.sombrita-tres{
  filter: drop-shadow(
    0 0 6px #ef711d
  )
}
.loca-link{
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.gradient {
  background: linear-gradient(90deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
}

.gradient2 {
  background: linear-gradient(0deg, #D3793F 0 20%, #eb4f52f3 35% 50%, #d9254d 60% 100%);
}

details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  display: none;
}

.slider-imguwu{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.slider-imguwu2{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.years-sldr-img{
  width: 98%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 38/50;
}
.tour-sldr-img{
  width: 100%;
  height: auto;
  object-fit: fill;
  aspect-ratio: 4/5;
}
.vip-img{
  max-width: 575px;
  height: auto;
}
.vip-img2{
  width: 500px;
  min-width: 300px;
  height: auto;
  object-fit: cover;
}
.slidercamp-img{
  width: 98%;
  align-self: center;
  padding-left: 2%;
}
.slidertent-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/10;
}
.slidervip-img{
  width: 100%;
  height: fit-content;
  align-self: center;
  padding-left: 2%;
}
.text-slider{
  display: flex !important;
}
.question-list{
  list-style: none;
  padding: 5px 0;
}
.question-list:hover{
  cursor: pointer;
}
.question-list:focus{
  color: rgb(245 158 11);
}

@media (min-width: 720px) {
  .slider-imguwu{
    height: 550px;
    width: 700px;
    object-fit: cover;
  }
  .slider-imguwu2{
    height: 700px;
    width: 700px;
    object-fit: cover;
  }
}

@media (min-width: 640px) {
  .slider-imguwu2{
    height: 700px;
    width: 700px;
    object-fit: cover;
  }
}






body {
  color: rgb(var(--foreground-rgb));
  /*!Esto lo dejo por si queremos meter un gradient al background, aunque podemos hacerlo con tailwind!*/
  /* background: linear-gradient(90deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: rgb(255, 102, 0);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: rgb(255, 115, 0);
}
