@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.btn-effect{
  transition: all ease-in-out .4s;
}
.btn-effect:hover{
  transform: scale(1.25);
}
.arrow-flip{
  transform: rotateX(180deg) translateY(2px);
  transition: all ease-in-out .5s;
}
.hdr-link:hover{
  cursor: pointer;
}
.hdr-link:hover .arrow-flip{
  transform: rotateX(0deg);
}
.hdr-link:hover .hdr-submenu{
  transform: translateY(8px) translateX(-70px);
}
.hdr-link:hover .hdr-submenu-long{
  transform: translateY(8px) translateX(-70px);
}
.hdr-submenu{
  transform: translateY(-200px) translateX(-70px);
  transition: all ease-in-out 1s;
  background: linear-gradient(30deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
}
.hdr-submenu-long{
  transform: translateY(-500px) translateX(-70px);
  background: linear-gradient(30deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
  transition: all ease-in-out 1.5s;
}

.hdr-submenu-link{
  transition: all ease-in-out .3s;
}
.hdr-submenu-link:hover{
  transform: scale(1.05);
}
.video-embed{
  overflow: hidden;
  width: 100vw;
  height: 1100px;
  transform: translateY(-250px);
}
.sombrita{
  filter: drop-shadow(
    0 0 4px rgba(252, 49, 94, 1)
  )
}
.sombrita-dos{
  filter: drop-shadow(
    0 0 6px #8b8b8b
  )
}

.gradient {
  background: linear-gradient(90deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%);
}

.slider-imguwu{
  height: 550px;
  width: 700px;
  object-fit: cover;
}

.slider-imguwu2{
  height: 700px;
  width: 700px;
  object-fit: cover;
}


body {
  color: rgb(var(--foreground-rgb));
  /*!Esto lo dejo por si queremos meter un gradient al background, aunque podemos hacerlo con tailwind!*/
  /* background: linear-gradient(90deg, #D3793F 0 25%, #eb4f52f3 35% 40%, #d9254d 60% 100%); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
